{% extends 'argon/base.html' %}

{% block main %}
    {% for post in post_list %}
        {% if post.top %}
            <article class="post card bg-white shadow-sm border-0 post-preview" id="post-{{ post.pk }}"
                     class="post-{{ post.pk }} post type-post status-publish format-standard sticky hentry category-learn category-front-end tag-front-end">
                <header class="post-header text-center post-header-with-thumbnail">
                    {% if post.img %}
                        <img class='post-thumbnail lazyload'
                             src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P//PwNAgAEACPwC/tuiTRYAAAAASUVORK5CYII='
                             data-original='{{ post.img.url }}'
                             alt='thumbnail' style='opacity: 0;'>
                    {% else %}
                        <img class='post-thumbnail lazyload'
                             src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P//PwNAgAEACPwC/tuiTRYAAAAASUVORK5CYII='
                             alt='thumbnail' style='opacity: 0;'>
                    {% endif %}

                    <div class='post-header-text-container'>
                        <a class="post-title" href="{{ post.get_absolute_url_argon }}">{{ post.title }}</a>
                        <div class="post-meta">
                            <div class="post-meta-detail post-meta-detail-stickey">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i> 置顶
                            </div>
                            <div class="post-meta-devide">|</div>
                            <div class="post-meta-detail post-meta-detail-time">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <time title="发布于 {{ post.created_time }} | 编辑于 {{ post.modified_time }}">{{ post.created_time }}</time>
                            </div>
                            <div class="post-meta-devide">|</div>
                            <div class="post-meta-detail post-meta-detail-categories">
                                <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                <a href="{% url 'blog:argon_category' post.category %}" target="_blank"
                                   class="post-meta-detail-catagory-link">{{ post.category }}</a>
                                {#                                <span class="post-meta-detail-catagory-space">,</span>#}
                                {#                                <a href="#" target="_blank" class="post-meta-detail-catagory-link">test</a>#}
                            </div>
                            <div class="post-meta-devide">|</div>
                            <div class="post-meta-detail post-meta-detail-views">
                                <i class="fa fa-eye" aria-hidden="true"></i> {{ post.views }}
                            </div>
                            {#                            <div class="post-meta-devide">|</div>#}
                            {#                            <div class="post-meta-detail post-meta-detail-comments waline-comment-count-{{ post.pk }}">#}
                            {#                                <i class="fa fa-comments-o" aria-hidden="true"></i>#}
                            {#                            </div>#}
                            </br>
                            <div class="post-meta-detail post-meta-detail-words">
                                <i class="fa fa-file-word-o" aria-hidden="true"></i><span
                                    title="包含  行代码"> {{ post.word_count }} 字</span>
                            </div>
                            <div class="post-meta-devide">|</div>
                            <div class="post-meta-detail post-meta-detail-words">
                                <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                                {{ post.reading_time }} 分钟
                            </div>
                        </div>
                    </div>
                </header>

                <div class="post-content">{{ post.excerpt }}</div>

                <div class="post-tags">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    {% for tag in post.tags.all %}
                        <a href='{% url 'blog:argon_tag' tag.name %}' target='_blank'
                           class='tag badge badge-secondary post-meta-detail-tag'>{{ tag.name }}
                        </a>
                    {% endfor %}
                </div>
            </article>
        {% else %}
            <div class="shuoshuo-preview-container shuoshuo-foldable card bg-white shadow-sm border-0"
                 id="post-{{ post.pk }}"
                 class="post-{{ post.pk }} shuoshuo type-shuoshuo status-publish hentry">
                <a class="shuoshuo-title" href="{{ post.get_absolute_url_argon }}">{{ post.title }}</a>

                <div class="shuoshuo-content">
                    <p>{{ post.excerpt }}</p>
                    {% if post.img %}
                        <p><img fetchpriority="high" decoding="async" class="lazyload"
                                src="{{ post.img.url }}" height="auto"/>
                        </p>
                        <p>&nbsp;</p>
                    {% endif %}
                </div>
                <div class="shuoshuo-preview-meta">
                    <span>
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        <span class="shuoshuo-date-month">{{ post.created_time.month }}</span> 月
                        <span class="shuoshuo-date-date">{{ post.created_time.day }}</span> 日 ,
                        <span class="shuoshuo-date-year">{{ post.created_time.year }}</span>
                        <div class="post-meta-devide">|</div>
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <span class="shuoshuo-date-time">{{ post.created_time.time }}</span>
                    </span>

                    <div class="post-meta-devide">|</div>
                    <div class="post-meta-detail post-meta-detail-categories">
                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                        <a href="{% url 'blog:argon_category' post.category %}" target="_blank"
                           class="post-meta-detail-catagory-link">{{ post.category }}</a>
                    </div>

                    <div class="post-meta-devide">|</div>
                    <div class="post-meta-detail post-meta-detail-words">
                        <i class="fa fa-file-word-o" aria-hidden="true"></i><span
                            title="包含  行代码"> {{ post.word_count }} 字</span>
                    </div>
                    <div class="post-meta-devide">|</div>
                    <div class="post-meta-detail post-meta-detail-words">
                        <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                        {{ post.reading_time }} 分钟
                    </div>
                    <div class="post-meta-devide">|</div>
                    <div class="post-meta-detail post-meta-detail-views">
                        <i class="fa fa-eye" aria-hidden="true"></i> {{ post.views }}
                    </div>
                    {#                    <div class="post-meta-detail post-meta-detail-words">#}
                    {#                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>#}
                    {#                        1#}
                    {#                    </div>#}
                    {#                    <div class="post-meta-devide">|</div>#}
                    {#                    <div class="post-meta-detail post-meta-detail-words waline-comment-count-{{ post.pk }}">#}
                    {#                        <i class="fa fa-comments-o" aria-hidden="true"></i>#}
                    {#                    </div>#}
                </div>
                <a class="shuoshuo-preview-link btn btn-outline-primary btn-icon-only rounded-circle" type="button"
                   href="{{ post.get_absolute_url_argon }}">
                    <span class="btn-inner--icon"><i class="fa fa-arrow-right"></i></span>
                </a>
            </div>
        {% endif %}
    {% endfor %}

    <!-- pagination -->
    {% include 'pagination/pagination_argon.html' %}
{% endblock main %}
